In [1]:
# First dataset: auto-mpg1
# Second dataset: auto-mpg2

# Rahul is analyzing different vehicles with the help of a dataset. The dataset contains 6 following columns:
# mpg	
# cylinders	
# displacement	
# horsepower	
# weight	
# acceleration	

# Rahul was searching for more information and he suddenly found one more dataset with the same columns and different rows. He thought to combine them together so that he can get more data to analyze. Help Rahul to combine two data frames.
# Second dataset: auto-mpg2

In [2]:
import pandas as pd
fil1=pd.read_excel("csv_Data/auto-mpg1.xlsx")
fil2=pd.read_excel("csv_Data/auto-mpg2.xlsx")

In [3]:
df=pd.DataFrame(fil1)
df2=pd.DataFrame(fil1)

In [12]:
len(df.append(df2))

C:\Users\Dell\AppData\Local\Temp\ipykernel_33084\2184029917.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  len(df.append(df2))

90

In [5]:
d=pd.concat([df,df2])

In [6]:
len(d)

90

In [7]:
# Rahul got one more dataset that contains some more information about the same vehicle. He thought to combine this with the data frame he has created. 
# This new data frame contains the following columns:
# model year	
# origin	
# car name
# Combine this data with the existing data frame.
# Third dataset: auto-mpg3

# After more research, he got some information and now he wants to add it to the data frame. Create a data frame with the help of a dictionary and list and then combine it with the main data frame.

In [8]:
a=pd.read_excel("csv_Data/auto-mpg3.xlsx")
d1=pd.DataFrame(a)

nd=pd.concat([d,d1])

In [9]:
nd

,car name,mpg,displacement,horsepower,weight,acceleration,model year,origin,cylinders
0,chevrolet chevelle malibu,18.0,307.0,130,3504.0,12.0,NaN,NaN,NaN
1,buick skylark 320,15.0,350.0,165,3693.0,11.5,NaN,NaN,NaN
2,plymouth satellite,18.0,318.0,150,3436.0,11.0,NaN,NaN,NaN
3,amc rebel sst,16.0,304.0,150,3433.0,12.0,NaN,NaN,NaN
4,ford torino,17.0,302.0,140,3449.0,10.5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
94,chrysler new yorker brougham,NaN,NaN,NaN,NaN,NaN,73.0,1.0,8.0
95,buick electra 225 custom,NaN,NaN,NaN,NaN,NaN,73.0,1.0,8.0
96,amc ambassador brougham,NaN,NaN,NaN,NaN,NaN,73.0,1.0,8.0
97,plymouth valiant,NaN,NaN,NaN,NaN,NaN,73.0,1.0,6.0
98,chevrolet nova custom,NaN,NaN,NaN,NaN,NaN,73.0,1.0,6.0