In [1]:
# Rahul is analyzing different vehicles with the help of a dataset. The dataset contains 9 columns. Two of the columns are:
# mpg → miles per gallon
# weight → in pounds

# Now he wants to create a data frame that contains mileage in kmpl ( kilometers per liter) and weight in kg. Help Rahul in doing the same.

# ADDING 2 SERIES

In [2]:
import pandas as pd
import numpy as np

fil=pd.read_excel("csv_Data/auto-mpg1.xlsx")
df=pd.DataFrame(fil)

In [5]:
# 1 miles == 1.609344 km
# 1.00pund == 0.45359kg

mpg_kmg=df.mpg*1.609344
wght_kg=df.weight*0.45359

# METHOD 1

In [27]:
pd.merge(mpg_kmg,wght_kg,right_index=True,left_index=True)

          mpg      weight
0   28.968192  1589.37936
1   24.140160  1675.10787
2   28.968192  1558.53524
3   25.749504  1557.17447
4   27.358848  1564.43191
5   24.140160  1969.03419
6   22.530816  1974.93086
7   22.530816  1955.88008
8   24.140160  1746.32150
9   24.140160  1616.14117
10  22.530816  1637.00631
11  24.140160  1705.95199
12  22.530816  1399.77874
13  38.624256  1075.91548
14  35.405568  1285.02047
15  33.796224  1173.43733
16  43.452288   966.14670
17  41.842944   832.33765
18  40.233600  1211.99248
19  38.624256  1102.22370
20  40.233600  1077.27625
21        NaN  1013.32006
22  33.796224  1201.10632
23  16.093440  2093.31785
24  17.702784  1987.63138
25  14.484096  2146.38788
26  43.452288   966.14670
27  45.061632  1026.92776
28  40.233600  1010.59852
29  40.233600   928.04514
30  30.577536  1194.75606
31  25.749504  1559.89601
32  27.358848  1510.00111
33  30.577536  1497.75418
34  28.968192  1491.40392
35  22.530816  1909.16031
36  22.530816  2024.82576
37  22.530816  1884.21286
38  22.530816  1857.90464
39  19.312128  2247.53845
40  20.921472  2152.73814
41  28.968192  1343.53358
42  35.405568  1092.24472
43  30.577536  1488.68238
44  28.968192  1423.81901

# METHOD 2

In [21]:
d={"mpg_kmg":mpg_kmg,
   "wght_kg":wght_kg}

pd.concat(d,axis=1)

      mpg_kmg     wght_kg
0   28.968192  1589.37936
1   24.140160  1675.10787
2   28.968192  1558.53524
3   25.749504  1557.17447
4   27.358848  1564.43191
5   24.140160  1969.03419
6   22.530816  1974.93086
7   22.530816  1955.88008
8   24.140160  1746.32150
9   24.140160  1616.14117
10  22.530816  1637.00631
11  24.140160  1705.95199
12  22.530816  1399.77874
13  38.624256  1075.91548
14  35.405568  1285.02047
15  33.796224  1173.43733
16  43.452288   966.14670
17  41.842944   832.33765
18  40.233600  1211.99248
19  38.624256  1102.22370
20  40.233600  1077.27625
21        NaN  1013.32006
22  33.796224  1201.10632
23  16.093440  2093.31785
24  17.702784  1987.63138
25  14.484096  2146.38788
26  43.452288   966.14670
27  45.061632  1026.92776
28  40.233600  1010.59852
29  40.233600   928.04514
30  30.577536  1194.75606
31  25.749504  1559.89601
32  27.358848  1510.00111
33  30.577536  1497.75418
34  28.968192  1491.40392
35  22.530816  1909.16031
36  22.530816  2024.82576
37  22.530816  1884.21286
38  22.530816  1857.90464
39  19.312128  2247.53845
40  20.921472  2152.73814
41  28.968192  1343.53358
42  35.405568  1092.24472
43  30.577536  1488.68238
44  28.968192  1423.81901

In [24]:
# To extend series
pd.DataFrame(mpg_kmg.append(wght_kg,ignore_index=True))

C:\Users\Dell\AppData\Local\Temp\ipykernel_28136\1368485816.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pd.DataFrame(mpg_kmg.append(wght_kg,ignore_index=True))

              0
0     28.968192
1     24.140160
2     28.968192
3     25.749504
4     27.358848
..          ...
85  2152.738140
86  1343.533580
87  1092.244720
88  1488.682380
89  1423.819010

[90 rows x 1 columns]