#CLASS WORK

"""
To get a better understanding of the authors. Shivam thought to extract the rating of different books published by various authors. Write a program to get the rating of a book based on a given author's name.
Atul Gawande
Phil Robertson
Dan Brown
John Green
"""

In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv("csv_Data/books.csv")
data.columns

df=pd.DataFrame(data)
df.head()

,Name,Author,UserRating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [2]:
ans=df[df.Author=="Atul Gawande"]["UserRating"]
ans

34    4.8
Name: UserRating, dtype: float64

"""Find the rating of the following books:
Allegiant
Born to Run
Fifty Shades Darker
"""

In [3]:
df[df.Name=="Allegiant"]["UserRating"]

22    3.9
Name: UserRating, dtype: float64

"""Shivam wants to get the names of the book where rating is above 4.7. Write a program to print the name of all those books where rating is greater than 4.7."""

In [4]:
df[df.UserRating>=4.7].count()

Name          287
Author        287
UserRating    287
Reviews       287
Price         287
Year          287
Genre         287
dtype: int64

#HOME WORK

Shivam and his friend Sahil started an online book store site. They have a dataset of the top 50 books sold on amazon and they want to select the best books from there. After hours of discussion, they decided to pick the books with the following conditions.
Rating is greater than 4.7 and price is less than 20.
Rating is greater than 4.8 and reviews greater than 10000.
Author: EL James and rating greater than 4.2
Published after 2017, more than 4.5 ratings, more than 10000 reviews, Genre: Fiction and price less than 30.

In [45]:
# (df.Author).unique()

In [34]:
df[(df.Author=="E L James") & (df.UserRating>4.2) ]

,Name,Author,UserRating,Reviews,Price,Year,Genre
104,Fifty Shades Darker,E L James,4.4,23631,7,2012,Fiction
105,Fifty Shades Freed: Book Three of the Fifty Sh...,E L James,4.5,20262,11,2012,Fiction
108,Fifty Shades Trilogy (Fifty Shades of Grey / F...,E L James,4.5,13964,32,2012,Fiction
149,Grey: Fifty Shades of Grey as Told by Christia...,E L James,4.4,25624,14,2015,Fiction

In [20]:
df[(df.UserRating>4.8) & (df.Reviews>20000)]

,Name,Author,UserRating,Reviews,Price,Year,Genre
245,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2012,Fiction
246,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2013,Fiction
247,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2014,Fiction
248,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2015,Fiction
249,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2016,Fiction
250,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2017,Fiction
251,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2018,Fiction
252,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2019,Fiction

In [6]:
ur=df["UserRating"]>4.7
ur

0      False
1      False
2      False
3      False
4       True
       ...
545     True
546    False
547    False
548    False
549    False
Name: UserRating, Length: 550, dtype: bool

In [7]:
p=df.Price<20
p

0       True
1      False
2       True
3       True
4       True
       ...
545     True
546     True
547     True
548     True
549     True
Name: Price, Length: 550, dtype: bool

In [14]:
df[ur&p]

,Name,Author,UserRating,Reviews,Price,Year,Genre
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
19,Alexander Hamilton,Ron Chernow,4.8,9198,13,2016,Non Fiction
32,Becoming,Michelle Obama,4.8,61133,11,2018,Non Fiction
33,Becoming,Michelle Obama,4.8,61133,11,2019,Non Fiction
34,Being Mortal: Medicine and What Matters in the...,Atul Gawande,4.8,11113,15,2015,Non Fiction
...,...,...,...,...,...,...,...
541,Wonder,R. J. Palacio,4.8,21625,9,2014,Fiction
542,Wonder,R. J. Palacio,4.8,21625,9,2015,Fiction
543,Wonder,R. J. Palacio,4.8,21625,9,2016,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction