Bangladesh weather dataset: temp_and_rain.csv

Siddhika is analyzing the weather of Bangladesh using a weather dataset. The dataset contains four columns:
temp (  Temperature )
Month
Year 
rain

Help Siddhika in checking whether the dataset contains any missing values or not. If it contains any missing values then help her in dealing with the missing values.

Siddhika didn't want any null value in the dataset. So she decided to fill 0 at the place of all null values.  Write a program for the same.

Siddhika filled all the null values with 0. But then her friend Monika told her how putting 0 at the place of null values is making the dataset inaccurate.
Example: If in the 6th month the temperature is 27 then it can not suddenly drop to 0 in the next month.
So Monika suggested Siddhika, fill the missing value with the value of the previous month. In this case, data will be more accurate. Help Siddhika in doing the same thing.

In [1]:
import numpy as np
import pandas as pd

In [2]:
file=pd.read_csv("csv_Data/Temp_and_rain.csv")
df=pd.DataFrame(file)
df

          tem  Month    Year       rain
0     16.9760    1.0  1901.0   18.53560
1     19.9026    2.0  1901.0   16.25480
2     24.3158    3.0  1901.0   70.79810
3     28.1834    4.0  1901.0   66.16160
4     27.8892    5.0  1901.0  267.21500
...       ...    ...     ...        ...
1375  28.0642    8.0  2015.0  512.12700
1376  28.1230    9.0  2015.0  353.86900
1377  26.8624   10.0  2015.0   81.59940
1378  23.1842   11.0  2015.0    4.60815
1379  18.7124   12.0  2015.0    5.97798

[1380 rows x 4 columns]

In [42]:
df.isnull().fillna(0)
df.loc[df.tem==0]

Empty DataFrame
Columns: [tem, Month, Year, rain]
Index: []

In [43]:
df["Month"].isnull().nunique()

2

In [44]:
df["Year"].isnull().nunique()

2

In [7]:
df["rain"].isnull().nunique()

2

In [8]:
df["rain"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
1375    False
1376    False
1377    False
1378    False
1379    False
Name: rain, Length: 1380, dtype: bool

In [36]:
df["tem"].fillna(0)
df["tem"==0].loc[]

SyntaxError: invalid syntax (833062921.py, line 2)

In [28]:
(tem_miss==0)

TypeError: 'RangeIndex' object is not callable

In [29]:
ten_miss.loc[0,:]

NameError: name 'ten_miss' is not defined