In [1]:
# First dataset: auto-mpg1
# Second dataset: auto-mpg2

# Rahul is analyzing different vehicles with the help of a dataset. The dataset contains 6 following columns:
# mpg	
# cylinders	
# displacement	
# horsepower	
# weight	
# acceleration	

# Rahul was searching for more information and he suddenly found one more dataset with the same columns and different rows. He thought to combine them together so that he can get more data to analyze. Help Rahul to combine two data frames.
# Second dataset: auto-mpg2

In [3]:
import pandas as pd
fil1=pd.read_excel("csv_Data/auto-mpg1.xlsx")
fil2=pd.read_excel("csv_Data/auto-mpg2.xlsx")

In [6]:
df=pd.DataFrame(fil1)
df2=pd.DataFrame(fil1)

In [19]:
df2

,car name,mpg,displacement,horsepower,weight,acceleration
0,chevrolet chevelle malibu,18.0,307.0,130,3504,12.0
1,buick skylark 320,15.0,350.0,165,3693,11.5
2,plymouth satellite,18.0,318.0,150,3436,11.0
3,amc rebel sst,16.0,304.0,150,3433,12.0
4,ford torino,17.0,302.0,140,3449,10.5
5,ford galaxie 500,15.0,429.0,198,4341,10.0
6,chevrolet impala,14.0,454.0,220,4354,9.0
7,plymouth fury iii,14.0,440.0,215,4312,8.5
8,amc ambassador dpl,15.0,390.0,190,3850,8.5
9,dodge challenger se,15.0,383.0,170,3563,10.0
10,plymouth 'cuda 340,14.0,340.0,160,3609,8.0
11,chevrolet monte carlo,15.0,400.0,150,3761,9.5
12,buick estate wagon (sw),14.0,455.0,225,3086,10.0
13,toyota corona mark ii,24.0,113.0,95,2372,15.0
14,plymouth duster,22.0,198.0,95,2833,15.5
15,ford maverick,21.0,200.0,85,2587,16.0
16,datsun pl510,27.0,97.0,88,2130,14.5
17,volkswagen 1131 deluxe sedan,26.0,NaN,46,1835,20.5
18,peugeot 504,25.0,110.0,87,2672,17.5
19,audi 100 ls,24.0,107.0,90,2430,14.5
20,saab 99e,25.0,104.0,95,2375,17.5
21,bmw 2002,NaN,121.0,113,2234,12.5
22,amc gremlin,21.0,199.0,90,2648,15.0
23,ford f250,10.0,360.0,215,4615,14.0
24,dodge d200,11.0,318.0,210,4382,13.5
25,hi 1200d,9.0,304.0,193,4732,18.5
26,datsun pl510,27.0,97.0,88,2130,14.5
27,chevrolet vega 2300,28.0,140.0,90,2264,15.5
28,toyota corona,25.0,113.0,95,2228,14.0
29,ford pinto,25.0,98.0,?,2046,19.0
30,amc gremlin,19.0,232.0,100,2634,13.0
31,plymouth satellite custom,16.0,225.0,105,3439,15.5
32,chevrolet chevelle malibu,17.0,250.0,100,3329,15.5
33,ford torino 500,19.0,250.0,88,3302,15.5
34,amc matador,18.0,232.0,100,3288,15.5
35,chevrolet impala,14.0,350.0,165,4209,12.0
36,pontiac catalina brougham,14.0,400.0,175,4464,11.5
37,ford galaxie 500,14.0,351.0,153,4154,13.5
38,plymouth fury iii,14.0,318.0,150,4096,13.0
39,dodge monaco (sw),12.0,383.0,180,4955,11.5
40,ford country squire (sw),13.0,400.0,170,4746,12.0
41,amc hornet sportabout (sw),18.0,258.0,110,2962,13.5
42,chevrolet vega (sw),22.0,140.0,72,2408,19.0
43,pontiac firebird,19.0,250.0,100,3282,15.0
44,ford mustang,18.0,250.0,88,3139,14.5

In [28]:
d=pd.concat([df,df2])

In [24]:
len(d)

90

In [2]:
# Rahul got one more dataset that contains some more information about the same vehicle. He thought to combine this with the data frame he has created. 
# This new data frame contains the following columns:
# model year	
# origin	
# car name
# Combine this data with the existing data frame.
# Third dataset: auto-mpg3

# After more research, he got some information and now he wants to add it to the data frame. Create a data frame with the help of a dictionary and list and then combine it with the main data frame.

In [33]:
a=pd.read_excel("csv_Data/auto-mpg3.xlsx")
d1=pd.DataFrame(a)

nd=pd.concat([d,d1])

In [34]:
nd

,car name,mpg,displacement,horsepower,weight,acceleration,model year,origin,cylinders
0,chevrolet chevelle malibu,18.0,307.0,130,3504.0,12.0,NaN,NaN,NaN
1,buick skylark 320,15.0,350.0,165,3693.0,11.5,NaN,NaN,NaN
2,plymouth satellite,18.0,318.0,150,3436.0,11.0,NaN,NaN,NaN
3,amc rebel sst,16.0,304.0,150,3433.0,12.0,NaN,NaN,NaN
4,ford torino,17.0,302.0,140,3449.0,10.5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
94,chrysler new yorker brougham,NaN,NaN,NaN,NaN,NaN,73.0,1.0,8.0
95,buick electra 225 custom,NaN,NaN,NaN,NaN,NaN,73.0,1.0,8.0
96,amc ambassador brougham,NaN,NaN,NaN,NaN,NaN,73.0,1.0,8.0
97,plymouth valiant,NaN,NaN,NaN,NaN,NaN,73.0,1.0,6.0
98,chevrolet nova custom,NaN,NaN,NaN,NaN,NaN,73.0,1.0,6.0